# Ignore data files
**/*.h5
**/*.hdf5
**/*.csv
**/*.pkl
**/*.nc
**/*.pp
**/*.bk

# Ignore output log files
**/*.out

# Ignore image files
**/*.png
**/*.gif

#Ignore Licence files
**/*MetOffice*

# Ignore mac files
**/.DS_Store