# Ignore HDF5 files
**/*.h5
**/*.hdf5

# Ignore PNG files
**/*.png

# Ignore GIF files
**/*.gif

# Ignore CSV files
**/*.csv

# Ignore PKL files
**/*.pkl

#Ignore pp and Licence files
**/*.pp
**/MetOffice*